

body {
  background-color: #2b00c6;  
  background-image: url("background/Bundeshaus_klein_Sterne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}


.button{

      display: flex;
      justify-content: center;
      align-items: center;
  
      background-color: #2b00c6;
      color: #ffeb11;
      
      border-radius: 5px;
      border:dotted;
      font-size: 30px;
      font-weight: bold;
      font-family: 'Courier New', monospace;
      text-decoration: none;
      cursor: url('background/stern-pink.png'), pointer;
      width: 55px;
      height: 47px; 

}

.button:hover {
  background-image:url("background/pingi.jpg");
  background-position: center;
  color:transparent;
  
}

.calendar {
  position: absolute;  
  top: 0; 
  left:0;
  width: 100%;
  height: 100%; 
  display: grid;
    grid-template-columns: repeat(6, 1fr); 
    justify-items: center;
    align-items: start;
    gap: 20px;
    padding: 40px;
}



@media (max-width: 600px) {
    .calendar {
        grid-template-columns: repeat(4, 1fr);
    }
}


@media (orientation: landscape) {
    .calendar {
        grid-template-columns: repeat(6, 1fr);
    }
}











