

body {
  background-color: #2b00c6;  
  background-image: url("background/Bundeshaus_klein_Sterne.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    height: 100vh;
}


.button{

      display: inline-block;
      background-color: #2b00c6;
      color: #ffeb11;
      text-decoration: none;
      border-radius: 5px;
      border:dotted;
      font-size: 55px;
      font-weight: bold;
      cursor: pointer;
      font-family: 'Courier New', Courier, monospace;
      margin-top:200px;
      margin-left: 200px;
      margin-right: 220px;
      margin-bottom: 100px;
      width: 100px;
      height: 70px;
      text-align: center;
      


}
